@charset "utf-8";
/* CSS Document */
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f7c291; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.OrangeBlack {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.OrangeBlack table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.OrangeBlack tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.OrangeBlack table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.OrangeBlack table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.OrangeBlack tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.OrangeBlack tr:hover td{
	
}
.OrangeBlack tr:nth-child(odd){ background-color:#cecccc; }
.OrangeBlack tr:nth-child(even)    { background-color:#ffffff; }.OrangeBlack td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.OrangeBlack tr:last-child td{
	border-width:0px 1px 0px 0px;
}.OrangeBlack tr td:last-child{
	border-width:0px 0px 1px 0px;
}.OrangeBlack tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.OrangeBlack tr:first-child td{
		background:-o-linear-gradient(bottom, #ef8a2b 5%, #fff8f2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef8a2b), color-stop(1, #fff8f2) );
	background:-moz-linear-gradient( center top, #ef8a2b 5%, #fff8f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef8a2b", endColorstr="#fff8f2");	background: -o-linear-gradient(top,#ef8a2b,fff8f2);

	background-color:#ef8a2b;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.OrangeBlack tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ef8a2b 5%, #fff8f2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef8a2b), color-stop(1, #fff8f2) );
	background:-moz-linear-gradient( center top, #ef8a2b 5%, #fff8f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef8a2b", endColorstr="#fff8f2");	background: -o-linear-gradient(top,#ef8a2b,fff8f2);

	background-color:#ef8a2b;
}
.OrangeBlack tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.OrangeBlack tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.MagentaBlack {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.MagentaBlack table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.MagentaBlack tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.MagentaBlack table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.MagentaBlack table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.MagentaBlack tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.MagentaBlack tr:hover td{
	
}
.MagentaBlack tr:nth-child(odd){ background-color:#cecaca; }
.MagentaBlack tr:nth-child(even)    { background-color:#ffffff; }.MagentaBlack td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.MagentaBlack tr:last-child td{
	border-width:0px 1px 0px 0px;
}.MagentaBlack tr td:last-child{
	border-width:0px 0px 1px 0px;
}.MagentaBlack tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.MagentaBlack tr:first-child td{
		background:-o-linear-gradient(bottom, #7f0000 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#000000");	background: -o-linear-gradient(top,#7f0000,000000);

	background-color:#7f0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.MagentaBlack tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f0000 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#000000");	background: -o-linear-gradient(top,#7f0000,000000);

	background-color:#7f0000;
}
.MagentaBlack tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.MagentaBlack tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.GrayBlack {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.GrayBlack table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.GrayBlack tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.GrayBlack table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.GrayBlack table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.GrayBlack tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.GrayBlack tr:hover td{
	
}
.GrayBlack tr:nth-child(odd){ background-color:#c4c3c2; }
.GrayBlack tr:nth-child(even)    { background-color:#ffffff; }.GrayBlack td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.GrayBlack tr:last-child td{
	border-width:0px 1px 0px 0px;
}.GrayBlack tr td:last-child{
	border-width:0px 0px 1px 0px;
}.GrayBlack tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.GrayBlack tr:first-child td{
		background:-o-linear-gradient(bottom, #352f2a 5%, #848381 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #352f2a), color-stop(1, #848381) );
	background:-moz-linear-gradient( center top, #352f2a 5%, #848381 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#352f2a", endColorstr="#848381");	background: -o-linear-gradient(top,#352f2a,848381);

	background-color:#352f2a;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.GrayBlack tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #352f2a 5%, #848381 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #352f2a), color-stop(1, #848381) );
	background:-moz-linear-gradient( center top, #352f2a 5%, #848381 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#352f2a", endColorstr="#848381");	background: -o-linear-gradient(top,#352f2a,848381);

	background-color:#352f2a;
}
.GrayBlack tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.GrayBlack tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
